/* Osnovne postavke za stranicu */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #333;
}

/* Gornja traka sa opcijama */
.top-options {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.top-options a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

/* Selekcija sajtova */
.bottom-options {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.bottom-options label {
    margin: 0 10px;
}

/* Kajron stil */
.kajron {
    background-color: #000;
    color: #fff;
    padding: 10px 0; /* Povećana visina kajrona */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: scroll-text 15s linear infinite; /* Usporeni skrol */
}

.kajron-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Potvrdi dugme */
.confirm-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #555;
}

/* Navigacija na vrhu */
.navbar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

/* Podesi razmak od navigacije do sadržaja */
.container {
    margin-top: 80px;
    text-align: center;
}