/* Stilizovanje kajrona */
.kajron {
    background-color: #333; /* Tamna pozadina */
    color: white; /* Bela boja teksta */
    overflow: hidden; /* Sakriva sadržaj koji prelazi */
    position: relative;
    padding: 10px 0; /* Padding */
}

.kajron-content {
    white-space: nowrap; /* Sprečava prelazak u novi red */
    display: inline-block;
    animation: scroll 10s linear infinite; /* Animacija za pomeranje */
}

/* Animacija za pomeranje */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.kajron-content span {
    margin-right: 30px; /* Razmak između poruka */
}
